.error{

    color: red;
    background: lightgrey;
    font-size:20px ; 
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}


.sussess{

    color: green;
    background: lightgrey;
    font-size:20px ; 
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.cancel-button{
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}